body {
  background-color: rgb(201, 71, 71) !important;
}

nav {
  background-color: rgb(0, 0, 0);
  height: 4rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  
}

nav ul li {
  list-style-type: none;
  margin: auto;
  margin-top: 15px;
  font-family: 'Bebas Neue', cursive;
  font-size:x-large;
     
}

nav ul li a {
  color: rgb(250, 250, 250);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; color: rgb(255, 255, 255);}

.container .row .col {
  margin-top: 50px;
  
}

h2 {
  
  color: rgb(201, 71, 71);
}


/* urunler.html başlangıç */



/* https://www.w3schools.com/howto/howto_css_flip_card.asp kaynağını kullanarak kendi istediğim 
stilde düzenlemeler yaptım
 */




/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 300px;
  height: 468px;
  
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {

  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(2, 2, 2);
  color: rgb(208, 255, 0);
  transform: rotateY(180deg);
}


.flip-card-back h1,p,h2 {
  margin-top: 100px;
  }

img {
  margin-top: 10px;
  width: 300px;
  height: 468px;
}


/* urunler.html bitiş */


/* ana sayfa başlangıç */

/* .ana-sayfa {
  background-image: url(https://img.freepik.com/free-vector/comic-bright-composition-with-explosive-halftone-rays_225004-794.jpg?size=626&ext=jpg&ga=GA1.2.834835976.1636502400);
} */


.ana-sayfa {
  background-color: rgb(243, 176, 176);
}

.jumbotron {
  position: relative;
  width: 75%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  height: 500px;
  background-color: black;
}

/* .row  {
  width: auto;
  
}

.row .col {
  width: 1px;
  z-index: 10;  
  
  margin-top: 10px;
  margin-left:0px;
 
 } */

.up h1 {
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(255, 255, 255);
  letter-spacing: 3px;
  font-style: italic;
  border: 5px solid black;
  margin: 4px 4px 4px 4px;
  padding-left: 1rem;
}

.up p {  
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  padding: 10px;
  
 }

 .comic-style-1 {
  background-color: white ;
  clip-path: polygon(0 0, 100% 0, 100% 62%, 0 39%);
  margin-top: 10px;
    height: 250px;  
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  margin-left: 10px ;
  z-index: 11;
  margin-top: -50px;
  background-color: white;
  letter-spacing: 2px;
  font-style: italic;
  padding: 10px;
}


.comic-style-2 {
  margin-left: 10px;
  background-color: wheat;
  
}


.comic-style-2-right {
  background-color: wheat;
  margin-top: -82px;
  clip-path: polygon(0 100%, 100% 100%, 100% 39%, 0 58%);
  height: 250px;
  margin-right: 10px;
 
}

.col li {
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
}

.right-series {
  padding-top: 143px;
  text-transform: uppercase;
}



/* anasayfa bitiş */


/* hakkımızda başlangıç */


.aboutus h1 {
  font-family: 'Bebas Neue', cursive;
  font-size:100px;
  margin-left: 100px; 
  font-style: italic;
  letter-spacing: 2px;   
}

.aboutus .waw {
  background-color: rgb(236, 185, 185);
  font-family: 'Bebas Neue', cursive;
  font-size:40px;
  margin-left: 5px;
  padding: 90px;
}

.line {
  background-color: black;
}

.vision {
  background-color: rgb(235, 162, 162);
  font-family: 'Bebas Neue', cursive;
  font-size:40px;
  margin-left: 5px;
  padding: 90px;
  border: 15px solid black;
}

.vision h1 {
  padding-left: 80px;
}

.vision p {
  padding-left: 90px;
}

.support {
  background-color: rgb(243, 97, 97);
  font-family: 'Bebas Neue', cursive;
  font-size:40px;
  
  padding: 90px;
  border: 15px solid black;
}

.support h1 {
  padding-left: 80px;
}

.support p {
  padding-left: 90px;
}

